.kotak{
    position: absolute;
    width: 700px;
    height: 500px;
    left: 120px;
    top: 100px;
    
    background: linear-gradient(62.97deg, #FCD35C 0%, #FFBE00 100%);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 10px 0px 0px 10px;
}

.bg{
    position: relative;
    width: 1536px;
    height: 710px;
   
    
    background: #FFFFFF;
    transform: rotate(-180deg);
}

.bunder{

    position: absolute;
    width: 500px;
    height: 500px;
    left: 820px;
    top: 100px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
}

.bulet{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 935px;
    top: 570px;
    
    background: #B7B4B4;;
    filter: blur(100px);
}

.bundar{
    position: absolute;
width: 331px;
height: 331px;
left: 230px;
top: 240px;

background: #B7B4B4;
filter: blur(100px);
}

.mail{
    position: absolute;
    width: 476px;
    height: 60px;
    left: 480px;
    top: 330px;
    
    background: #FFFFFF;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 5px;
    color: #FEC009;

}


.me{
    position: absolute;
    top: 150px;
    width: 350px;
    height: 50px;
    left: 300px;

}

.oi{
    position: absolute;
    top: 230px;
    width: 500px;
    height: 300px;
    left: 200px;
    
}   

.name{
    position: absolute;
    width: 476px;
    height: 60px;
    left: 480px;
    top: 450px;
    
    
    background: #FFFFFF;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 5px;
    color: #FEC009;
}

.bt{
    position: absolute;
    width: 476px;
    height: 60px;
    left: 480px;
    top: 550px;
}