.bg{
    position: relative;
    width: 1536px;
    height: 710px;
   
    
    background: #FFFFFF;
    transform: rotate(-180deg);
}

.kotak{
    position: absolute;
width: 540px;
height: 600px;
left: calc(50% - 540px/2);
top: 70px;

background: #FFFFFF;
box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

.pc{
    position: absolute;
width: 240px;
height: 40px;
left: 780px;
top: 150px;
color: #000000;
border: 1px solid #808080;
border-radius: 4px;
background-color: white;
}

.mem{
    position: absolute;
    width: 113px;
    height: 25px;
    left: 530px;
    top: 100px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #000000;
}

.lol{
    
position: absolute;
left: 530px;
top: 160px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;

color: #000000;
}

.mek{
    position: absolute;
width: 240px;
height: 40px;
left: 780px;
top: 200px;
color: #000000;

border: 1px solid #808080;
border-radius: 4px;
background-color: white;    
}

.oh{
    
    position: absolute;
    left: 530px;
    top: 205px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    
    color: #000000;
    }

    .heh{
        position: absolute;
    width: 240px;
    height: 40px;
    left: 780px;
    top: 250px;
    color: #000000;
    border: 1px solid #808080;
    border-radius: 4px;
    background-color: white;    
    }

    .ih{
    
        position: absolute;
        width: 150px;
        height: 19px;
        left: 525px;
        top: 260px;
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        
        color: #000000;
        }
    
        .loh{
            position: absolute;
        width: 240px;
        height: 40px;
        left: 780px;
        top: 300px;
        color: #000000;
        border: 1px solid #808080;
        border-radius: 4px;
        background-color: white;    
        }

        .hmm{
            position: absolute;
        width: 240px;
        height: 40px;
        left: 780px;
        top: 350px;
        color: #000000;
        border: 1px solid #808080;
        border-radius: 4px;
        background-color: white;    
        }

        .pe{
    
            position: absolute;
            width: 108px;
            height: 25px;
            left: 525px;
            top: 320px;
            
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 19px;
            
            color: #000000;
            }

            .em{
    
                position: absolute;
                width: 108px;
                height: 25px;
                left: 525px;
                top: 370px;
                
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 19px;
                
                color: #000000;
                }
                
                .woi{
    
                    position: absolute;
                    width: 120px;
                    height: 22px;
                    left: 530px;
                    top: 450px;
                    
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 22px;
                    /* identical to box height */
                    
                    
                    color: #000000;
                    }

 .waw{
position: absolute;
width: 120px;
height: 120px;
left: 530px;
top: 500px;

border: 1px dashed #FFBE00;
border-radius: 8px;
}

.mzm{
    position: absolute;
width: 150px;
height: 10px;
left: 670px;
top: 610px;
border: solid #FFBE00;
background: none;
color: #000000;
border-radius: 4px;
}

.mzm:focus{
outline: none;
}
.mzm:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translate(-130px) skewX(-15deg);
}

.mzm::after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255,.2);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translate(-100px) skewX(-15deg);
}

.mzm:hover{
    background: #FFBE00;
    cursor: pointer;
    border: #FFFFFF;
    color: aliceblue;
}

.mzm:hover::before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

.mzm:hover::after{
    transform: translateX(300px) skewX(-15deg);
    opacity: .1;
    transition: .7s;

}


.cot{
    position: absolute;
width: 150px;
height: 10px;
left: 850px;
top: 610px;
border: solid #FFBE00;
background: #FFBE00;
color: #000000;
border-radius: 4px;
}

.cot:focus{
outline: none;
}
.cot:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
   
}

.cot::after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255,.2);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
   
}

.cot:hover{
    background: #5e5b5b;
    cursor: pointer;
    border: #1f1c1c;
    color: rgb(0, 0, 0);
}

.cot:hover::before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

.cot:hover::after{
    transform: translateX(300px) skewX(-15deg);
    opacity: .1;
    transition: .7s;

}

.now{
    position: absolute;
width: 136px;
height: 19px;
left: 670px;
top: 500px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

color: #FFBE00;
}